{{input value=playerName}}
<button {{action "addPlayer"}}>Add Player</button>
<div class="player-list">
  <ul>
    {{#each players as |player|}}
    <li>{{player.name}}<span>{{player.score}}</span></li>
    {{/each}}
  </ul>
</div>
