/**************************
* Header
***************************/
.player-list{
  width:100%;
  background-color: $brown;

  ul{
    @include flex;
    width:100%;
    padding: 0;
    margin: 0;
    list-style: none;

    li{
      @include oswald;
      text-align: center;
      padding: 10px 5px;
      color: $white;
      border-right:2px solid rgba(0,0,0,0.1);
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;

      > span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin: 0 auto;

        > span{
          display: block;
          font-size: 1.25em;
          padding-top:8px;
          color: $tang;
        }
      }
    }
    li:last-child{
      border-right: none;
    }
  }
}
.app-window .player-list ul{
  li{
    opacity: 0.5;
  }
  li.active{
    background-color: $blue;
    opacity:1;
  }
}
.buttons-wrap{
  @include flex;

  button{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    @include button-style;
  }
}
