/**************************
* Header
***************************/
.player-list{
  width:100%;
  background-color: $brown;

  ul{
    @include flex;
    width:100%;
    padding: 0;
    margin: 0;
    list-style: none;

    li{
      @include oswald;
      text-align: center;
      padding: 15px 0 10px;
      color: $white;
      border-right:2px solid rgba(0,0,0,0.1);
      border-bottom: 5px solid $taupe;
      -webkit-box-flex: 0;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;

      span{
        display: block;
        font-size: 2em;
        padding-top:8px;
        color: $tang;
      }
    }
    li.active{
      border-bottom:5px solid $blue;
    }
    li:last-child{
      border-right: none;
    }
  }
}
.buttons-wrap{
  @include flex;

  button{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    @include button-style;
  }
}
