.start-screen{
  position: absolute;
  top: 0;
  left: 0;
  z-index:9;
  height: 100%;
  width: 100%;
  background-color: $blue;
  @include flex;
  @include flex-vertical;
  @include flex-center;

  &.hidden{
    display: none;
  }

  img{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  input{
    display: block;
    width: 100%;
    margin: 30px auto 15px;
    padding:0 0 10px 0;
    font-size:1.5em;
    background-color: transparent;
    border: none;
    color: $white;
    outline: 0;
    border-bottom: 2px solid $white;
  }
  button{
    width:100%;
    @include button-style;
  }
}
.end-screen{
  position: absolute;
  top: 0;
  left: 0;
  z-index:9;
  height: 100%;
  width: 100%;
  background-color: $blue;

  &.hidden{
    display: none;
  }
}
.start-screen-inner,
.end-screen-inner{
  height:100%;
  width:100%;
  background-color: $blue;
  color: $white;
  text-align: center;
  @include flex;
  @include flex-vertical;
  @include flex-center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;

  &.title-card{
    position: absolute;
    z-index:9;
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  &.player-card{
    position: absolute;
    z-index: 5;
    opacity: 0;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    @include flex-between;
  }

  h1{
    margin:0;
    font-size: 3rem;
    color: $white;
  }
  h2{
    font-size: 2rem;
    margin: 20px 0 0;
  }
  .start-btn button{
    opacity: 0;
  }
  .start-btn.active button{
    opacity: 1;
  }
  button{
    @include button-style;
  }
}
.end-screen-inner{
  @include flex-between;
}
.start-screen-num-players-wrap{
  padding: 0 20px;

  .start-screen-num-players{
    @include flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding:0 0 20px;

    li{
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(33% - 8px);
              flex: 0 1 calc(33% - 8px);
      text-align: center;
      background-color: #aaa;
    }
  }
}
.more-player-btn-wrap{
  text-align: right;
  padding-top:5px;

  .more-player-btn,
  .less-player-btn{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: $white;
    color: $blue;
    font-weight: bold;
    font-size: 29px;
    line-height: 1;
    height:32px;
    width:32px;
    margin-left: 10px;
    border-radius: 5px;
  }
}
