.start-screen{
  position: absolute;
  top: 0;
  left: 0;
  z-index:9;
  height: 100%;
  width: 100%;
  background-color: $blue;
  @include flex;
  @include flex-vertical;
  @include flex-center;

  &.hidden{
    display: none;
  }

  img{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  input{
    display: block;
    margin:0 auto 10px;
    width:100%;
    padding:0 10px;
    font-size:1.5rem;
    height: 58px;
  }
  button{
    width:100%;
    @include button-style;
  }
}
.end-screen{
  position: absolute;
  top: 0;
  left: 0;
  z-index:9;
  height: 100%;
  width: 100%;
  background-color: $blue;

  &.hidden{
    display: none;
  }
}
.start-screen-inner,
.end-screen-inner{
  height:100%;
  width:100%;
  background-color: $blue;
  color: $white;
  text-align: center;
  padding:20px;
  @include flex;
  @include flex-vertical;
  @include flex-center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;

  &.title-card{
    position: absolute;
    z-index:9;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &.player-card{
    position: absolute;
    z-index: 5;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  h1{
    margin:0;
    font-size: 3rem;
    color: $white;
  }
  button{
    @include button-style;
  }
}
.end-screen-inner{
  @include flex-between;
  padding:0;
}
.start-screen-num-players{
  @include flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding:0;
  margin:0 0 10px;

  li{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(33% - 8px);
            flex: 0 1 calc(33% - 8px);
    text-align: center;
    background-color: #aaa;
  }
}
